
.home-view{
	flex:1;

	h1 {
		color: #7d7d7d;
		text-transform: uppercase;
		letter-spacing: 10px;
		text-align: center;
		font-weight: 300;
		margin-top: 7%;
	}

	h2 {
		color: #7d7d7d;
		font-weight: 500;
		text-align: center;
		margin-bottom: 30px;
		font-size: 19px;
	}

	h3 {
		font-size: 18px;
		letter-spacing: 2px;
		text-transform: uppercase;
		display: inline-block;
		font-weight: 300;
	}

	q {
		font-weight: 400;
		font-style: italic;
		text-align: center;
		font-size: 16px;
	}

	.item {
		margin: 18px 0;
		label {
			margin-bottom: .5rem;
			color: rgba(0,0,0,0.38);
		}
	}
	.active {
		background-color: rgba(158,158,158,0.2);
	}

	.md-tab{
		color: white
	}

	.fav-list {
		float: right!important;
	}

	.fav-item {
		width: 100%;
		text-align: left;
	}

	.fav-icon {
		font-size: 20px;
	}

	.md-input-container {
		margin: 7px 0;
	}

}