<section class="home-view">
  <h1 class="md-display-2" layout-margin>Business Card</h1>

  <div layout="row" layout-align="center stretch">

    <div class="dashboard-card" flex="50" ng-cloak>
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="Edit">
            <md-content class="md-padding">

              <form name="vm.form">
                <md-content md-theme="docs-dark" layout-gt-sm="column" layout-padding>
                  <div class="item">
                    <label>Icon</label>
                    <div layout="row">
                      <md-button flex ng-repeat="icon in homeCtrl.icons"  ng-click="homeCtrl.setIcon(icon)" ng-class="{active : homeCtrl.card.icon == icon}">
                        <md-icon md-font-set="md">{{icon}}</md-icon>
                      </md-button>
                    </div>
                  </div>

                  <div md-color-picker ng-model="homeCtrl.card.background" label="Background"></div>

                  <div md-color-picker ng-model="homeCtrl.card.textColor" label="Text Color"></div>
                </md-content>
              </form>


            </md-content>
          </md-tab>

          <md-tab label="See your card">

            <md-content class="md-padding">
              <md-subheader class="md-no-sticky">Card Directive</md-subheader>
              <md-subheader class="md-no-sticky">Favorite list</md-subheader>

            </md-content>

          </md-tab>

        </md-tabs>
    </div>
  </div>

</section>
